.page-title { 
    padding: 0 200px;
}

.documente-container {
    margin: 50px 200px;
}

@media screen and (max-width:800px) {
    .page-title {
        padding: 0 20px;
    }

    .documente-container {
        margin: 50px 70px;
    }
}

@media screen and (max-width:550px) { 
    .documente-container {
        margin: 50px 10px;
    }
}

table,
th,
td {
    border: 1px solid black;
}

td:nth-child(1) {
    padding: 0 10px;
}

td > a > img {
    width: 30px;
    margin: 0 auto;
}