* {
  transition: all 0.1s ease-out;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #424b54;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.info-card {
  display: block;
  position: relative;
  background-color: #f2f8f9;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}
.info-card:before {
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #424b54;
  height: 50px;
  width: 50px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.info-card:hover:before {
  transform: scale(21);
}

.info-card:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
.info-card:hover h2 {
  transition: all 0.3s ease-out;
  color: #ffffff;
}

/* added by me */

.hero-text > h2:nth-child(1) {
  animation: slide-in-hero-text 0.75s ease-out forwards;
}
.hero-text>h2:nth-child(2) {
  animation: slide-in-hero-text 1s ease-out forwards;
}
.hero-text>h2:nth-child(3) {
  animation: slide-in-hero-text 1.25s ease-out forwards;
}
.hero-text>h2:nth-child(4) {
  animation: slide-in-hero-text 1.5s ease-out forwards;
}

.container-live-buttons {
  opacity: 0;
  animation: slide-in-live-buttons 1.5s ease-out forwards;
}

@keyframes slide-in-hero-text {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  65% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in-live-buttons {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* FROM WEBFLOW: */

.mask {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-top: 1px solid #000
}

.container.this-week {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-left-width: 0;
  border-radius: 0;
  margin: 0 0 auto;
  padding-top: 12%;
  padding-bottom: 0;
  display: block;
  overflow: visible
}

@media screen and (max-width:991px) {
  .container.this-week {
    width: 100%
  }
}

@media screen and (max-width:767px) {
  .mask {
    border-top: 1px solid #000;
    border-bottom: 0px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
  }

  .container.this-week {
    padding-top: 14%;
    border-top: 0px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
  }
}

@media screen and (max-width:479px) {
  .container.this-week {
    width: 100%;
    padding-top: 40px
  }
  .hero-text > h2 {
    font-size: 26px;
    line-height: 26px;
  }
}

.news-slides {
  display: none;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.headshot-circle {
  width: 150px;
}

@media screen and (max-width:786px) {
  .headshot-circle {
    width: 100px;
  }
}
@media screen and (max-width:450px) {
  .headshot-circle {
    width: 85px;
  }
}