
.google-map {
  display: flex;
  justify-content: center;
}

.send-to {
  border: 1px solid #e4e4e4;
  border-radius: 0;
  margin-bottom: 18px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 26px;
  transition: border-color .4s;
}