
.google-map {
  display: flex;
  justify-content: center;
}

.send-to {
  border: 1px solid #e4e4e4;
  border-radius: 0;
  margin-bottom: 18px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 26px;
  transition: border-color .4s;
}

.social-icon-img {
  width: 50px;
}

.instagram-filter{
filter: invert(38%) sepia(29%) saturate(2376%) hue-rotate(294deg) brightness(90%) contrast(109%);
}