.text-block-7 > a {
    display: inline;
}
hr {
    border: none;
    border-top: 1px dotted rgb(0, 0, 0);
    color: #fff;
    background-color: #b6b6b6;
    height: 1px;
    width: 100%;
}

.selected-button {
    background-color: #adadad;
}