.text-block-7 > a {
    display: inline;
}
hr {
    border: none;
    border-top: 1px dotted rgb(0, 0, 0);
    color: #fff;
    background-color: #b6b6b6;
    height: 1px;
    width: 100%;
}

.selected-button {
    background-color: #adadad;
}

.text-block-7 {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

.text-block-7 {
  padding: 0px 40px;
}

.text-block-7.active {
    opacity: 1;
    visibility: visible;
    height: auto;
  padding: 20px 40px;
}

@media screen and (max-width: 700px) {
    .text-block-7 {
        font-size: 14px;
        padding: 0;
    }
}